<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_book</title>
</head>
<body>
    <form action="/books/save" method="post">
<!--        form 表单 button默认为提交按钮-->
        书名：<input type="text" name="title"> <br>
        作者：<input type="text" name="author"> <br>
        出版日期：<input type="text" name="publicationDate"> <br>
        书号：<input type="text" name="isbn"> <br>
        类型：<input type="text" name="genre"> <br>
        语言：<input type="text" name="language"> <br>
        <button style = "color:palevioletred">提交</button>
    </form>
</body>
</html>