<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LMX的算法宝库</title>
    </head>
    <body>
    <div style = "text-align: center; margin: 0 auto ">
        <!--a标签-->
        <h5>你好！</h5>
        <h4>你好！！</h4>
        <h3>你好！！！</h3>
        <h2>你好！！！！</h2>
        <h1>你好！！！！！</h1>

        <a href="http://www.baidu.com">baidu</a> <br>
        <a href="/demo/t0">测试请求后端</a> <br>
        <a href="/demo/t1">测试请求错误解决</a> <br>
        <a href="/demo/t2?name=张三&age=18">测试普通参数</a> <br>
        <a href="/demo/t3/88">测试路径参数</a> <br>
        <a href="/demo/t4">测试返回信息</a> <br>
        <a href="/books/list">图书列表(books_list)</a> <br>

        <h1>你好！！！！！</h1>
        <h2>你好！！！！</h2>
        <h3>你好！！！</h3>
        <h4>你好！！</h4>
        <h5>你好！</h5>
    </div>

    </body>
</html>